<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>RPDM Dashboard Example Template</title>

    <!-- CDNs for Bootstrap, jQuery, and Font Awesome -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <!-- Custom JS file for loading plots on start -->
    <script src="{{ url_for('static', filename='js/plotting.js') }}"></script>

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/chart_style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/custom.css') }}" rel="stylesheet" />
</head>
