<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>

    <!-- Navbar-->
    <div class="container-fluid">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="https://nfdi-matwerk.de/">
        <img src="{{ url_for('static', filename='images/matwerk_logo.png') }}" style="width: 30%; height: auto;" alt="logo">
        </a>

        <!-- Navbar Menu-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <!-- Example Dropdown -->
            <li class="nav-item dropdown m-3">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Quick Links</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="https://matwerk.datamanager.kit.edu/docs/mapping-service/">Mapping Service Documentation</a></li>
                    <!-- <li><a class="dropdown-item" href="#">Link B</a></li>-->
                    <!-- <li><a class="dropdown-item" href="#">Link C</a></li>-->
                </ul>
            </li>

            <li class="nav-item dropdown m-3">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">About This Report</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Sourcecode on Gitlab</a></li>
                    <li><a class="dropdown-item" href="#">Issues</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
