{% from "components/card.html.j2" import plot_card, table_card %}

{% extends "partials/layout.html.j2" %}

{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <p><i>Hover over any chart for details about a given datapoint.</i></p>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active" id="last_updated_time">Last Updated: {{ report_time }} </li>
    </ol>

    <div class="row" id="card-container>
        {{ plot_card("sample", "Card Title for the sample plot", "fas
        fa-chart-line me-1") }}
        {{ plot_card("sample2", "Card Title for the sample plot", "fas
        fa-chart-line me-1") }}
        {{ table_card("Card Title for the table", "sample_table")}}
    </div>
</div>

{% endblock %}
