{% from "components/card.html.j2" import plot_card, table_card %}
{% from "components/small_card.html.j2" import small_card %}

{% extends "partials/layout.html.j2" %}

{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <p><i>Hover over any chart for details about a given datapoint.</i></p>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active" id="last_updated_time">Last Updated: {{ report_time }} </li>
    </ol>

    <div class="row px-2" id="small-card-container">
        {{ small_card("fas fa-microscope", "Supported Plugins", "6", "var(--bs-primary)") }}
        {{ small_card("fas fa-database", "Research Images Processed", "23.9 GB", "var(--bs-secondary)") }}
        {{ small_card("fas fa-users", "Total Users", "61", "var(--bs-light)") }}
        {{ small_card("fas fa-file", "Metadata Documents Automatically Created", "753", "var(--bs-dark)") }}
    </div>
    <div class="row", id="card-container">
        {{ plot_card("user_growth", "Card Title for the sample plot", "fas fa-chart-line me-1") }}
        {{ plot_card("plugin_usage_histogram", "Card Title for the sample plot", "fas fa-chart-line me-1") }}
        {{ plot_card("user_distribution", "Card Title for the sample plot", "fas fa-chart-line me-1") }}
        {{ plot_card("user_distribution_map", "Card Title for the sample plot", "fas fa-chart-line me-1") }}
        {#{ table_card("Card Title for the table", "sample_table")}#}
    </div>
</div>

{% endblock %}
